body {
   font-family: "Graphik", "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1;
	color: #555555;
	background: #FFFFFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
