<div class="footer">
   <div class="section">
      <div class="container">
         <div class="user-gist">
            <div class="icon-symbol"></div>
            <h3 class="fullname">Siddharth Arun</h3>
            <p class="designation">Digital Product Designer</p>
         </div>
         <div class="lets-chat">
         </div>
         <div class="contact">
            <a href="mailto:hello@siddharth.is" target="_blank" class="email">hello@siddharth.is</a>
            <span class="availability">Currently accepting enquiries for small <br />and medium sized projects.</span>
         </div>
      </div>
   </div>
   <div class="colophon">
      <div class="container">
         <div class="copyright">&copy; 2017 — Siddharth Arun. Digital Product Designer.</div>
         <ul class="social-links">
            <li><a href="http://dribbble.com/siddhartharun" target="_blank">Dribbble</a></li>
            <li><a href="http://twitter.com/siddhartharun" target="_blank">Twitter</a></li>
            <li><a href="http://instagram.com/siddhartharun" target="_blank">Instagram</a></li>
         </ul>
      </div>
   </div>
</div>
