@font-face {
	font-family: "Redaction";
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Redaction-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Redaction";
	font-style:  italic;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Redaction_50-Italic.woff2") format("woff2");
}