---
layout: default
---

<div class="home">

   <!-- Intro -->
   <div class="section intro">
      <div class="container">
         <div class="user-gist">
            <div class="icon-symbol"></div>
            <h3 class="fullname">Siddharth Arun</h3>
            <p class="designation">Digital Product Designer</p>
         </div>
         <div class="user-blurb">
            <p class="currently">
               Currently hand crafting design <br class="rwd-break" />
               for digital products - exclusively for <br class="rwd-break" />
               founders and startups. Also speak <br class="rwd-break" />
               HTML, CSS &amp; Ruby. Hungry 80% <br class="rwd-break" />
               of times. But 100% foolish.
            </p>
            <p class="previously"><strong>Previously / Clients</strong>Streamup, Socialblood, Care At Hand, TouristEye, Twenty19</p>
         </div>
      </div>
   </div>

   <!-- Featured Work -->
   <div class="section work">
      <div class="container">
         <ul class="featured-work">
         {% for work in site.works %}
            <li>
               {% if work.has_link == false %}
                  <div class="thumb">
                     <img src="{{ work.thumb }}" />
                  </div>
               {% else %}
                  <div class="thumb">
                     <a href="http://{{ work.link }}" target="_blank" class="thumb-link">
                        <img src="{{ work.thumb }}" />
                     </a>
                  </div>
               {% endif %}
               <div class="meta">
                  <h4 class="title">{{ work.title }}</h4>
                  <p class="description">{{ work.description }}</p>
                  {% if work.has_link == false %}
                     <span class="links">{{ work.type }} &mdash; {{ work.link }}</span>
                  {% else %}
                     <span class="links">{{ work.type }} &mdash; <a href="http://{{ work.link }}" target="_blank">{{ work.link }}</a></span>
                  {% endif %}
               </div>
            </li>
         {% endfor %}
         </ul>
      </div>
   </div>

   <!-- Profile -->
   <div class="section profile">
      <div class="container">
         <div class="about-wrap">
            <div class="bio">
               <h4>
                  I’m Siddharth, a digital product designer based out
                  of Bangalore, IN. I work almost exclusively with
                  startups and founders — helping them design / build
                  beautiful products from the ground up.
               </h4>
               <p>
                  Having no formal design education, everything I’ve learnt
                  has been the culmination of nearly a decade’s worth of
                  working on design and dev projects, large and small, from
                  across the globe. Though I focus primarily on UX/UI design,
                  I’m equally passionate and profficient with frontend and
                  backend dev, branding, strategy, communication and
                  product. This gives me an unique edge when working with
                  complex projects involving multiple disciplines.
               </p>
               <p>
                  Good design is hard. Great design is invisible. The journey
                  so far has taught me that great work is the result of passion,
                  curiosity, consistency, conviction and skill. The way I strive
                  to work couldn’t be better encapsulated than the phrase
                  imparted by the late Steve Jobs.
               </p>
               <p>
                  Stay hungry. Stay foolish.
               </p>
            </div>
            <div class="mentions">
               <h3>Mentions &amp; Features</h3>
               <ul class="highlights">
                  <li>Awwards Jury Member<span class="annotation">2012 / 2013</span></li>
                  <li>Product Hunt Maker<span class="annotation">Psddd</span></li>
                  <li>365 Awesome Designers<span class="annotation">#163</span></li>
                  <li>Startup Saturday<span class="annotation">2011</span></li>
               </ul>
               <ul class="showcase">
                  <li>CSS Winner (Nominee)</li>
                  <li>CSS Design Awards</li>
                  <li>Splashnology</li>
                  <li>Behance</li>
                  <li>Design Shack</li>
                  <li>Panda</li>
                  <li>One Page Love (2x)</li>
                  <li>Popular Shots (5x)</li>
                  <li>Visual Hierarchy</li>
                  <li>MaterialUp</li>
                  <li>SiteUp</li>
               </ul>
            </div>
         </div>
      </div>
   </div>

</div>
