---
layout: default
---

<div class="home">

   <!-- Intro -->
   <div class="section intro">
      <div class="container">
         <div class="user-gist">
            <div class="icon-symbol"></div>
            <h3 class="fullname">Siddharth Arun</h3>
            <p class="designation">Digital Product Designer</p>
         </div>
         <div class="user-blurb">
            <p class="currently">
               Currently hand crafting design <br />
               for digital products - exclusively for <br />
               founders and startups. Also speak <br />
               HTML, CSS & Ruby. Hungry 80% <br />
               of times. But 100% foolish.
            </p>
            <p class="previously"><strong>Previously / Clients</strong>Ghost, Streamup, Socialblood, Care At Hand, TouristEye, Twenty19</p>
         </div>
      </div>
   </div>

   <!-- Featured Work -->
   <div class="section work">
      <div class="container">
         <ul class="featured-work">
         {% for work in site.works %}
            <li>
               <div class="thumb">
                  <img src="{{ work.thumb }}" />
               </div>
               <div class="meta">
                  <h4 class="title">{{ work.title }}</h4>
                  <p class="description">{{ work.description }}</p>
                  <span class="links">{{ work.type }} &mdash; {{ work.link }}</span>
               </div>
            </li>
         {% endfor %}
         </ul>
      </div>
   </div>

   <!-- Profile -->
   <div class="section profile">
      <div class="container">
         <div class="bio">
            <h4>
               I’m Siddharth, a digital product designer based out <br />
               of Bangalore, IN. I work almost exclusively with <br />
               startups and founders — helping them design / build <br />
               beautiful products from the ground up.
            </h4>
            <p>
               Having no formal design education, everything I’ve learnt <br />
               has been the culmination of nearly a decade’s worth of <br />
               working on design and dev projects, large and small, from <br />
               across the globe. Though I focus primarily on UX/UI design, <br />
               I’m equally passionate and profficient with frontend and <br />
               backend dev, branding, strategy, communication and <br />
               product. This gives me an unique edge when working with <br />
               complex projects involving multiple disciplines.
            </p>
            <p>
               Good design is hard. Great design is invisible. The journey <br />
               so far has taught me that great work is the result of passion, <br />
               curiosity, consistency, conviction and skill. The way I strive <br />
               to work couldn’t be better encapsulated than the phrase <br />
               imparted by the late Steve Jobs.
            </p>
            <p>
               Stay hungry. Stay foolish.
            </p>
         </div>
      </div>
   </div>

</div>
